@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: "Jost", sans-serif;
    text-decoration: none;
    align-items: flex-end;
}
body{
    height: 100vh;
    background-color: rgb(255, 219, 171)
}
/* header */
.menu-btn{
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: antiquewhite;
    box-shadow: 0 0 14px rgb(0, 0, 0, 0.3);
}
.navbar .logo h1{
    color: #424144;
    text-transform: uppercase;
    border-bottom: 4px solid #fd6561;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    text-transform: capitalize;
}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: #424144;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid transparent;
}
.navbar .menu li .active{
    border-bottom: 4px solid #f63e4e;
}
.navbar .menu li a i{
    color: #f63e4e;
    margin: 0;
    padding: 0 10px;
}
.navbar .menu li a:hover{
    border-bottom: 4px solid #f63e4e;
}
.pheading{
    text-align: center;
    margin: 50px 0;
    color: #424144;
    text-transform: capitalize;
    font-size: 40px;
}
/* products */
.sec{
    padding: 10px 5%;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px));
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.products .card{
    width: 310px;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
}
.sec2 .products .card{
    padding: 0 10px;
    background-color: #f5f5f5;
}
.products .card img{
    height: 250px;
    width: 100%;
}
.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}
.products .card .title{
    font-size: 20px;
    font-weight: 900;
    color: #424144;
    padding: 0 20px;
}
.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.products .card .box .price{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}
.products .card .box .btn{
    font-size: 13px;
    color: #f63e4e;
    padding: 10px 18px;
    border: 1px solid #f63e4e;
    border-radius: 20px;
}
.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #f63e4e;
    color: white;
}
.sec .clothes{
    color: #f63e4e;
    width: 100%;
    text-decoration: underline;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
}
.sec .clothes:hover{
    color: #ffffff;
}
/* footer */
footer{
    background-color: #f3f4f6;
    height: 10vh;
}
footer p{
    text-align: center;
    line-height: 10vh;
}
footer p a{
    text-decoration: none;
    color: #f63e4e;
    font-weight: bold;
}

/* Responsive by jquery */
@media (max-width: 820px) {
    .menu-btn{
        display: block;
        z-index: 10000;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #f3f4f6;
        text-align: center;
        padding-top: 150px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: flex;
        justify-content: center;
    }
    .navbar .menu li a{
        margin: 10px 0;
        font-size: 25px;
    }
}
@media (max-width: 600px){
    .content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content p{
        font-size: 16px;
    }
    .content button{
        width: 100%;
        align-items: flex-end;
        justify-content: center;
    }
    
}